.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet textarea {
  background: transparent;
  resize: none;
  border: none;
  border-bottom: 3px black solid;
  outline: none;
  margin: 1rem 0;
}

.new-tweet footer {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}

.new-tweet footer button {
  color: white;
  background-color: #40569E;
  padding: 0 1rem;
}

.err {
  border: 5px red solid;
  color: red;
  display: none;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.err p {
  font-size: 1em;
  font-weight: 700;
  text-align: center;
}

.err i {
  font-size: 2em;
  align-self: center;
  padding: 0.5em;
}