.old-tweet {
  margin: 2rem 0;
}

main ul {
  padding: 0;
  margin: 0;
}

.old-tweet li {
  list-style: none;
  margin: 1em;
  border: 1px solid black;
  padding: 1em;
  margin: 1em 0;
 }
 .old-tweet li:hover {
  box-shadow: 1em 1em 0.5em grey;
}

.old-tweet li header {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */

}

.handler {
  margin-left: auto;
  display: none;
}

.old-tweet:hover .handler {
  display: block;
}

.old-tweet article {
 height: 2em;
 border-bottom: 2px solid black;
}



.old-tweet footer {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 font-size: 0.75em;
 color: lightslategray;
}

.old-tweet div {
  padding: 1em;
}

.old-tweet div i {
  padding: 0 2px;
}