#tweets-container {
  margin: 2rem 0;
}

#tweets-container article {
  border: 1px solid black;
  padding: 1em;
  margin: 2em 1em;
 }

 #tweets-container article:hover {
  box-shadow: 1em 1em 0.5em grey;
}

#tweets-container img {
  padding: 0 1em 0 0;
}

#tweets-container article header {
  display: flex;
  flex-direction: row;
}

.handler {
  margin-left: auto;
  display: none;
  color: silver;
}

#tweets-container article:hover .handler {
  display: block;
}

#tweets-container .content {
  border: none;
  border-bottom: 2px black solid;
  outline: none;
  padding: 1em;
  text-align: justify;
}

#tweets-container footer {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 font-size: 0.75em;
 color: lightslategray;
}

#tweets-container div {
  padding: 1em;
}

#tweets-container div i {
  padding: 0 2px;
}

#scroll-top {
  position: fixed;
  bottom: 1em;
  right: 0.5em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: orangered;
  border: none;
  font-size: 2em;
  color: white;
  display: none;
  cursor: pointer;
}

#scroll-top:hover {
  transition: 300ms;
  transform: translate(0, -5px);
}